body {
  background-color: #E45537;
}

h1 {
  color: #E45537;
}

.logo {
  width: 50%;
  border: 10px solid white;
  margin-top: 5%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  
}